{% extends 'public/base.html' %}

{% block content %}
    <div style="max-width: 800px; margin: 0 auto;">
        <h1 class="mb-4 mt-4">Comixology sales</h1>

        <ul class="list-group list-group-flush">
        {% for sale in sale_list %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-5 col-md-auto">
                        <img class="rounded d-block mw-100"
                             src="{{ sale.cover_url }}"
                             alt="{{ sale.title }} cover"
                        >
                    </div>
                    <div class="col-7 col-md d-flex flex-column">
                        <div class="row mb-2">
                            <h2 class="h4 col">{{ sale.title }}</h2>
                            <div class="col-lg-auto">
                                <span class="badge badge-primary badge-pill">{{ sale.num_items }} items</span>
                            </div>
                        </div>
                        <p class="mb-2 flex-grow-1">Sale Ends on {{ sale.date_end|date:'l, dS F Y' }}.</p>
                        <a class="btn btn-primary btn-lg btn-block" href="{{ sale.url }}" target="_blank">Go to sale</a>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
